// Fuentes


@font-face {
    font-family: 'sourcesanspro-regular-webfont';
    src: url('../fonts/sourcesanspro-regular-webfont/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont/sourcesanspro-regular-webfont.svg#sourcesanspro-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
