
.header {
    height: auto;
    position: relative;
    padding-bottom: 10px;
    line-height: 30px;
    border-bottom: none;

    @include min-screen($escritorio) {
        height: 30px;
        padding: 30px 0;
         float: none;
         margin-bottom: 10px;
    }

    a {
        color: #666;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;

        &:hover {
             color: #258fb8;
        }
    }

    h1 {
        float: none;
        font-weight: 300;
        font-size: 30px;
    }

    .subtitle {
        color: #999;
        line-height: normal;
        font-style: italic;
    }

    .description {
        color: #999;
        line-height: normal;
        margin: 25px 0;
    }

    .sub-nav {
        float: none;
        position: relative;

        .social {
            float: none;
        }
    }

    .main-nav {
        float: none;
        margin-left: 0px;

        ul {
            li {
                margin-left: 0px;
                display: block;

                a {
                    padding: 0px 0px;
                }
            }

        }
    }
}

.inner {
    margin: 0 auto;
    width: 100%;
    @include min-screen($escritorio) {
        width: 1000px;
    }
}

.main-nav {
    float: none;
    margin-left: 0;
    margin-top: 15px;

    @include min-screen($escritorio) {
        float: left;
        margin-left: 30px;
    }

    > ul  {

        > li {
            margin-left: 50px;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;

             margin-left: 0;
             margin-right: 50px;

            @include min-screen($escritorio) { 

            }

            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                a {
                     color: #258fb8;
                }
            }

            a {
                margin-top: -38px;
                padding: 18px 0;

            }
        }

        ul {
            position: absolute;
            top: 40px;
            left: -15px;
            z-index: 10;
            white-space: nowrap;
            background: #ddd;
            border: 1px solid #ccc;
            list-style: none;
            display: none;
            -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            -ms-border-radius: 0 0 5px 5px;
            -o-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;

            @include min-screen($escritorio) {
                top: 60px;
            }

             li {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #ccc;
                &:hover {
                    background: #d5d5d5;
                }
                &:first-of-type {
                    border-top: none;

                    ul {
                        -webkit-border-radius: 0 0 5px 5px;
                        -moz-border-radius: 0 0 5px 5px;
                        -ms-border-radius: 0 0 5px 5px;
                        -o-border-radius: 0 0 5px 5px;
                        border-radius: 0 0 5px 5px;
                    }
                }
            }

             ul {
                -webkit-border-radius: 0 5px 5px 5px;
                -moz-border-radius: 0 5px 5px 5px;
                -ms-border-radius: 0 5px 5px 5px;
                -o-border-radius: 0 5px 5px 5px;
                border-radius: 0 5px 5px 5px;
            }

        }
    }
}

.sub-nav {

    .social {

        float: none;
        margin-right: 0;

        @include min-screen($escritorio) {
            float: left;
            margin-right: 15px;
        }

        a {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            text-indent: -9999px;
            margin-right: 15px;
            opacity: 0.5;
            width: 28px;
            height: 28px;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s
            &:last-of-type {
                 margin-right: 0;
            }

            &:hover {
                 opacity: 1;
            }

            &.facebook {
                background: url('../images/home/facebook.png?1390677724') center no-repeat #3b5998;
                border: 1px solid #3B5998;
                &:hover {
                     border: 1px solid #2d4373;
                }
            }

            &.google {
                background: url('../images/home/google.png?1390677724') center no-repeat #c83d20;
                border: 1px solid #C83D20;
                &:hover {
                     border: 1px solid #9c3019;
                }
            }

            &.twitter {
                background: url('../images/home/twitter.png?1390677724') center no-repeat #55cff8;
                border: 1px solid #55CFF8;
                &:hover {
                     border: 1px solid #24c1f6;
                }
            }

            &.github {
                background: url('../images/home/github.png?1390677724') center no-repeat #afb6ca;
                border: 1px solid #afb6ca;
                &:hover {
                     border: 1px solid #909ab6
                }
            }

            &.linkedin {
                background: url('../images/home/linkedin.png?1390677724') center no-repeat #005a87;
                border: 1px solid #005A87;
                &:hover {
                     border: 1px solid #003854;
                }
            }


            &.pinterest {
                background: url('../images/home/pinterest.png?1390677724') center no-repeat #be4037;
                border: 1px solid #be4037;
                &:hover {
                    border: 1px solid #96332c;
                }
            }

            &.delicious {
                background: url('../images/home/delicious.png?1390677724') center no-repeat #3271cb;
                border: 1px solid #3271cb;
                &:hover {
                    border: 1px solid #285aa2;
                }
            }


            &.rss {
                background: url('../images/home/rss.png?1390677724') center no-repeat #ef7522;
                border: 1px solid #EF7522;
                &:hover {
                    border: 1px solid #cf5d0f;
                }
            }

        }
    }
}

.pagenavi {
    padding: 20px 0;
    height: 20px;
    height: 60px;
    line-height: 20px;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;

    &:hover {
        text-decoration: underline;
    }
    .prev, .next {
        position: absolute;
    }
    .prev {
        padding-left: 30px;
        left: 0;
        &:before {
            content: "\f060";
            font: 1.3em FontAwesome;
            position: absolute;
            left: 0;
        }
    }

    .next {
        padding-right: 30px;
        right: 0;
        &:before {
             content: "\f061";
            font: 1.3em FontAwesome;
            position: absolute;
            right: 0;
        }
    }

    .center {
        
        display: none;
        @include min-screen($escritorio) { 
            text-align: center;
            width: 100%;
            display: block;
        }
    }
}

article {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    position: relative;
    padding-bottom: 15px;
    @include min-screen($tablet-l) { 
        padding: 15px 0;
    }
    @include min-screen($escritorio) { 
        padding: 30px 0;
    }

    h1 {
        &.title {
            font-weight: 300;
            line-height: 35px;
            margin-bottom: 20px;
            a {
                color: #666;
            }
        }
    }

    .entry-content {
        line-height: 2;
        text-align: justify;

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        .more-link {
            display: block;
            margin-top: 16px;
            padding-left: 30px;
            position: relative;
            &:before {
                content: "\f061";
                font: 1.3em FontAwesome;
                line-height: 1.6em;
                position: absolute;
                left: 0;
            }
        }

        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        p {
            margin-top: 10px;
        }
        h2 {
            font-weight: 300;
            border-bottom: 1px solid #ddd;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: -2px;
                border-bottom: 1px solid #fff;
                width: 100%;
            }
        }

        img, video {
            max-width: 100%;
            height: auto;
        }

        blockquote {
            background: #ddd;
            border-left: 5px solid #ccc;
            padding: 15px 20px;
            margin-top: 10px;

            > p {
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }

        iframe {
            border:none;
        }

        table {
            background: #ddd;
            border: 1px solid #ccc;
            border-spacing: 0;
            margin-top: 10px;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden
        }
    }
}

article .entry-content .video-container iframe,
article .entry-content .video-container object,
article .entry-content .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
}


article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content .video-container {
    margin-top: 10px;
}

article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
    margin-left: 20px;
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl {
    margin-top: 0;
}


.post {

    h1 {
        &.title {
            margin-left: 0;
            @include min-screen($tablet-l) {
                margin-left: 200px;     
            }
        }
    }

    .entry-content  {
        margin-left: 0;
        @include min-screen($tablet-l) {
            margin-left: 200px;     
        }
    }

    .meta {
        top: 85px;
        line-height: 2;
        font-size: 0.9em;
        color: #999;
        margin-top: 15px;
        position: static;
        width: auto;

        @include min-screen($tablet-l) { 
            width: 170px;
            position: absolute;
            margin-top:0;
        }

        a {
            color: #999;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;

            &:hover {
                color: #666;
            }
        }

        .date,.tags,.comments {
            padding-left: 30px;
             position: relative;
             &:before {
               
                display: -moz-inline-stack;
                display: inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                zoom: 1;
                *display: inline;
                margin-right: 30px;
                color: #ccc;
                font: 1.3em FontAwesome;
                line-height: 1.6em;

                @include min-screen($tablet-l) {  

                position: absolute;
                left: 0;


                }
             }
        }

    }
}

.post .meta .date:before {
    content: "\f073"
}

.post .meta .tags:before {
    content: "\f02c"
}

.post .meta .comments:before {
    content: "\f075"
}

.container .mid-col {
    float: right;
    width: 77%;
    background: whitesmoke;
}

.mid-col-container {
        padding: 0px 70px 0px 40px;
        #content {
            width: 100%;
            article {
                border-top: none;
                .title {
                    margin-left: 0px;
                }
                .meta {
                    position: relative;
                    float: right;
                    top: 0px;
                    color: #555;
                    text-align: right;
                    width: auto;

                    .date::before {
                        color: #555;
                        position: relative;
                        margin-right: 10px;
                    }

                    .tags::before {
                        color: #999;
                        position: relative;
                        margin-right: 10px;
                    }
                }

                h1 {
                    &.title {
                        a {
                            color: #333;
                            -webkit-transition: color 0.3s;
                            -moz-transition: color 0.3s;
                            -o-transition: color 0.3s;
                            transition: color 0.3s;
                            &:hover {
                                color: #7daf42;
                                -webkit-transition: color 0.3s;
                                -moz-transition: color 0.3s;
                                -o-transition: color 0.3s;
                                transition: color 0.3s;
                            }
                        }

                    }
                }

            }

            .entry-content {
                margin-left: 0px;

                .gist .gist-file .gist-data .line_numbers {
                    line-height: inherit;
                }

                .gist .gist-file .gist-data pre {
                    line-height: inherit;
                }

                h2 {
                    font-size: 1.3em;
                    color: #574C4C;
                    border-bottom: none;
                    &:before {
                        border-bottom: none;
                    }
                }
                blockquote {
                    border-left: 5px solid #7daf42;
                    background: #FCFCFC;
                }
            }
        }
}

.container .left-col {
    width: 23%;
    position: fixed;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
    height: 100%;

    .intrude-less {
        width: 80%;
    }

    .header {
        width: 100%;
        padding: 20% 0% 0% 15%;

        .main-nav {
            margin-top: 10px;
        }
        .profilepic {
            img {
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
            }
        }

        a {
            color: #EFEFEF;
            text-shadow: 0 1px #333;
            &:hover {
                color: #7daf42;
            }
        }

        .sub-nav {
            margin-top: 10px;
            .social {
                margin-bottom: 10px;
            }
        }
    }
}


a {
    color: #7daf42;
}

a:hover {
    color: #7daf42;
}

@include max-screen($tablet-l) {  
    .container .credit-box {
        display: none;
    }
    .container .left-col {
        position: relative;
        width: 100%;
    }
    .container .left-col .intrude-less {
        margin: auto auto;
    }
    .container .left-col .header {
        padding: 40px 0px;
        text-align: center;
    }
    .container .left-col .header .sub-nav {
        display: block;
    }
    .container .left-col .header .main-nav ul {
        display: block;
    }
    .container .left-col .header .main-nav ul li {
        display: inline;
        margin-right: 10px;
    }
    .container .mid-col {
        float: none;
        width: 100%;
    }
    .container .mid-col .mid-col-container {
        padding: 15px 15px;
    }
    .container .mid-col .mid-col-container #content article .meta {
        float: none;
    }
}


article p {
    font-size: 18px;
}

article .entry-content h2 {
    font-weight: bold;
}


footer {
    padding: 15px 0;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
}

